@{title('ورود')}

<form class="form-horizontal col-sm-offset-3 col-lg-offset-3 container" data-toggle="validator" role="form" method="post" action="/Loggedin">

    <h1 id="messages">@{model}</h1>
    <div class="form-group">

        <div class="col-sm-4 col-lg-4 col-xs-8">
            <input type="email" class="form-control" id="email" placeholder="ایمیل خود را وارد کنید" data-error="ایمیل وارد شده نامعتبر است" name="email" required>
            <div class="help-block with-errors"></div>
        </div>
        <label class="control-label col-sm-2" for="email">ایمیل:</label>
    </div>

    <div class="form-group">

        <div class="col-sm-4 col-lg-4 col-xs-8">
            <input type="password" class="form-control" id="pass" data-minlength="6" placeholder="رمز عبور خود را وارد کنید" name="pass" data-error="رمز عبور باید بیش از 6 کاراکتر باشد" required>
            <div class="help-block with-errors"></div>
        </div>
        <label class="control-label col-sm-2" for="pass">رمز عبور:</label>
    </div>

    <div class="form-group">

        <div class="col-sm-4 col-lg-4 col-xs-8">
            <input type="checkbox" class="" id="check" value="checked" name="check">
        </div>
        <label class="control-label col-sm-2" for="check">مرا بخاطر بسپار</label>
    </div>

    <div class="form-group ">
        <div class=" col-sm-offset-3 col-lg-offset-3 col-xs-offset-3 col-md-offset-3">
            <button type="submit" class="btn btn-success col-sm-2 col-lg-2 col-xs-6 col-md-2">ورود</button>
        </div>
    </div>
</form>