@{meta('نمایش مشخصات', 'Description (optional)', 'Keywords (optional)')}

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@{model.name}</td>
                    <td>@{model.family}</td>
                    <td>@{model.email}</td>
                </tr>
                <tr>
                    <td>
                        <form role="form" method="post" action="/Edit">
                            <button type="submit" name="id" value="@{model._id}" class="btn btn-default">ویرایش اطلاعات</button>
                        </form>
                    </td>
                    <td></td>
                    <td><a class="btn btn-primary " href="/Exit">خروج</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
